{% extends 'basic.html' %}

{% block content %}
    <h2 class="profile-hi"> Здравствуйте, {{ user.username }}</h2>
<div class="management">
    <form action="{% url 'create_claim' %}"><button class="btn btn-primary">Создать заявку</button></form></div>
<ul class="claim-list">
    {% for claim in user_requests %}
        <li class="claim-item">
            <h4>{{ claim.name }}</h4>
            {% if claim.comment %}
            <p>Комментарий: {{ claim.comment }}</p>
            {% else %}
            <p>Описание: {{ claim.description }}</p>
            {% endif %}
            <p class="status">Статус: {{ claim.get_status_display }}</p>
            <p>Дата создания: {{ claim.created_time|date:"d.m.Y H:i" }}</p>
            {% if claim.photo %}
                <p>Фото до:</p>
                <img src="{{ claim.photo.url }}" alt="{{ claim.name }}" class="claim-photo">
                {% if claim.admin_photo %}
            <p>Фото после:</p>
            <img src="{{ claim.admin_photo.url }}" alt="{{ claim.admin_photo }}" class="claim-photo">
                {% endif %}
            {% else %}
                <p>Фото не загружено.</p>
            {% endif %}
            <form method="get" action="{% url 'delete_claim' claim.id %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Удалить заявку</button>
</form>
        </li>
    {% empty %}
        <li class="none-claim">У вас нет поданных заявок.</li>
    {% endfor %}
</ul>
    </ul>
{% endblock %}
