{% extends "basic.html" %}

{% block content %}
{% block title %} <title>Главная</title>{% endblock %}

 <h2 class="head-show">Заявок в статусе "Принято в работу": {{ accepted_requests_count }}</h2>

    <h3 class="last-show">Последние выполненные заявки</h3>
    {% if completed_requests %}
        <ul class="claim-list-show">
            {% for claim in completed_requests %}
                <li>
                    <h3 class="name-show">Заявка: {{ claim.name }}</h3>
                    <p><strong>Дата создания:</strong> {{ claim.created_time|date:"d M Y H:i" }}</p>
                    <p>Категория: {{ claim.category.name}}</p>
                    {% if claim.photo %}
                        <img src="{{ claim.photo.url }}" alt="{{ claim.name }}">
                    {% else %}
                        <p>Фото не загружено.</p>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Нет выполненных заявок.</p>
    {% endif %}

{% endblock %}